#nav {
    background-color: beige;

}

#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;

}

#nav ul li {
    background-color: maroon;
    padding: 10px 15px;
    border: 5px solid rgb(31, 29, 29);
}

#nav ul li:hover {
    background-color: rgb(180, 0, 0);
}

#nav ul li a {
    color: white;
    text-decoration: dashed;
    font-size: 16px;
}

.container {
    background-color: purple;
    display: flex;

    padding: 10px 15px;
}

.container2 {
    background-color: black;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.caja {
    background-color: orange;
    margin: 6px;
}