#nav {
    background-color: beige;
    align-self: flex-end;
}

#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;

}

#nav ul li {
    background-color: maroon;
    padding: 10px 15px;
    border: 5px solid rgb(31, 29, 29);
    margin: 10px;
}

#nav ul li:hover {
    background-color: rgb(180, 0, 0);
}

#nav ul li a {
    color: white;
    text-decoration: dashed;
    font-size: 16px;
}

.container {
    background-color: purple;
    display: flex;
    padding: 10px 15px;
    justify-content: flex-end;
}

.container2 {
    background-color: black;

}

.caja {
    background-color: orange;
    margin: 6px;

}