h1 {
    color: aquamarine;
}

h2 {
    color: blueviolet;
}
h3 {
   font-style: italic; 
}
#codigocss{
color: yellowgreen;
font-weight: bold;
}
#tresformas{
    font-weight: bold;
}
code{
    color: blue;
    font-weight: bold;
}
#parrafo1{
    font-weight: bold;
}

#mihojacss{
    color: red;
    font-weight: bold;
}
span{
    font-weight: bold;
}
.parrafo22{
    text-transform: uppercase;
    color: gray;
}
